
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать список пользователей</title>
    <style>
        table {
            border-collapse: collapse;
            border: 4px solid #5d97d5;
            margin: 10px;
        }
        th, td {
            border: 1px solid #70db9f;
            padding: 5px;
        }
    </style>
</head>
<form action="#" th:action="@{/logout}" method="get">
    <input style="border-color: #aeedec" type="submit" value="ВЫХОД"/>
</form>
<br>
<form><button>
    <a th:if="${#lists.contains(#authorization.expression('hasAnyRole(''ROLE_USER'',''ROLE_ADMIN'')'), true)}"
       th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '/admin' : '/login'}">ВЕРНУТЬСЯ В ПАНЕЛЬ
        АДМИНИСТРАТОРА</a></button>
</form>
<body >
<table>
    <tr>
        <th colspan="2"><h2>Внесите изменения</h2></th>
    </tr>
    <tr>
        <td>
            <form th:method="patch" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" id="edit-form">
                <label for="id">ID</label>
                <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div><br>

                <label for="name">Имя</label>
                <input type="text" th:field="*{name}" id="name"/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div><br>


                <label for="last_name">Фамилия</label>
                <input type="text" th:field="*{lastName}" id="last_name">
                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div><br>


                <label for="age">Возраст</label>
                <input type="text" th:field="*{age}" id="age">
                <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div><br>


                <label for="login">Логин</label>
                <input type="text" th:field="*{login}" id="login">
                <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login error</div><br>


                <label for="password">Пароль</label>
                <input type="text" th:field="*{password}" id="password">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div><br>
                <div>
                    <h3><label>Уровень доступа:</label></h3>
                    <div>
                        <label>
                            <input type="checkbox" th:field="*{roles}" th:value="ROLE_USER " />
                            USER
                        </label>
                        <label>
                            <input type="checkbox" th:field="*{roles}" th:value="ROLE_ADMIN" />
                            ADMIN
                        </label>
                    </div>
                </div>
                <br>
                <input  type="submit" value="ОБНОВИТЬ ПОЛЬЗОВАТЕЛЯ"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>